<div class="header navbar">
  <div class="header-container">
    <ul class="nav-left">
      <li>
        <a class="sidebar-toggle" (click)="handleSidebarToggleClick()">
          <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li *ngFor="let breadcrumb of breadcrumbs | async" class="breadcrumb-item">{{breadcrumb.name}}</li>
          </ol>
        </nav>
      </li>
      <!-- <li class="search-input active">
        <input class="form-control" type="text" placeholder="Search...">
      </li> -->
    </ul>
    <ul class="nav-right">
      <li #notifications class="notifications dropdown" [ngClass]="isNotificationShow$ | async" (click)="handleNotificationsClick()"
        (appClickOutside)="handleNotificationsClose()">
        <span class="counter">3</span>
        <a>
          <i class="fa fa-bell-o fa-lg" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu">
          <li>
            <i class="fa fa-bell-o" aria-hidden="true"></i>
            <span>Notifications</span>
          </li>
          <li>
            <ul>
              <li>
                <a class="notification">
                  <div class="notification-header">
                    <strong class="mr-auto">Bootstrap</strong>
                    <small>11 mins ago</small>
                  </div>
                  <div class="notification-body">
                    Hello, world! This is a toast message.
                    Hello, world! This is a toast message.Hello, world! This is a toast message.Hello, world! This is a
                    toast message.
                  </div>
                </a>
              </li>
              <li>
                <a class="notification">
                  <div class="notification-header">
                    <strong class="mr-auto">Bootstrap</strong>
                    <small>11 mins ago</small>
                  </div>
                  <div class="notification-body">
                    Hello, world! This is a toast message.
                  </div>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <span>
              <a>View All Notifications <i class="ti-angle-right fsz-xs mL-10"></i></a>
            </span>
          </li>
        </ul>
      </li>
      <li #accountInfo [ngClass]="isAccountInfoShow$ | async" class="account-info dropdown" (click)="handleAccountInfoClick()"
        (appClickOutside)="handleAccountInfoClose()">
        <a class="dropdown-toggle">
          <div class="account-img">
            <i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i>
          </div>
          <div class="account-name">
            <span>John Doe</span>
          </div>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="">
              <i class="ti-settings"></i>
              <span>Setting</span>
            </a>
          </li>
          <li>
            <a href="">
              <i class="ti-user"></i>
              <span>Profile</span>
            </a>
          </li>
          <li>
            <a href="email.html">
              <i class="ti-email"></i>
              <span>Messages</span>
            </a>
          </li>
          <li role="separator" class="divider"></li>
          <li>
            <a href="">
              <i class="ti-power-off"></i>
              <span>Logout</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
