// ---------------------------------------------------------
// @TOC
// ---------------------------------------------------------

// + @Sidebar
// + @Sidebar Inner
// + @Sidebar Header
// + @Sidebar Menu
// + @Sidebar Collapsed

// ---------------------------------------------------------
// @Sidebar
// ---------------------------------------------------------

.sidebar {
  background-color: $sidebar-bg;
  bottom: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: all 0.2s ease;
  width: $offscreen-size;
  z-index: 1000;

  ul {
    list-style-type: none;
  }

  @include to($breakpoint-md) {
    left: 0;
    width: calc(#{$offscreen-size} - 30px);
  }
}

// ---------------------------------------------------------
// @Sidebar Inner
// ---------------------------------------------------------

.sidebar-inner {
  position: relative;
  height: 100%;
}

// ---------------------------------------------------------
// @Sidebar Header
// ---------------------------------------------------------

.sidebar-logo {
  background-color: $sidebar-logo-bg;
  border-bottom: 1px solid $border-color;
  border-right: 1px solid $border-color;
  line-height: 0;
  padding: 0 20px;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;

  a {
    display: flex;
    align-items: center;
    width: 100%;

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: calc(#{$header-height} - 1px);
      width: 100%;
      width: $sidebar-logo-width;
    }

    .logo-text {
      color: $sidebar-logo-color;
      flex: 1;
    }
  }

  .mobile-toggle {
    display: none;
    float: right;
    font-size: 18px;
    line-height: calc(#{$header-height} - 1px);
    a {
      color: $sidebar-color;
    }
    @include between($breakpoint-md, $breakpoint-xl) {
      display: none;
    }
    @include to($breakpoint-md) {
      display: inline-block;
    }
  }
}

// ---------------------------------------------------------
// @Sidebar Menu
// ---------------------------------------------------------

.sidebar-menu {
  @include clearfix;
  border-right: 1px solid $border-color;
  height: calc(100vh - #{$header-height});
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;

  .dropdown-menu {
    display: none;
    margin-top: 0px;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    box-shadow: none;
    float: none;
    padding-top: 0;
    position: relative;
    width: 100%;
  }

  li.sidebar-item {
    position: relative;
    &.dropdown {
      .arrow {
        font-size: 10px;
        position: absolute;
        right: 20px;

        @include to($breakpoint-md) {
          right: 25px;
        }
      }
    }
    &.open {
      > a.sidebar-link {
        background-color: $sidebar-active-bg;
        color: $sidebar-active-color;
        .icon-holder {
          color: $sidebar-active-color;
        }
        > .arrow {
          transform: rotate(90deg);
        }
      }
      > ul.dropdown-menu {
        display: block;
      }
    }

    a.sidebar-link {
      color: $sidebar-color;
      display: flex;
      align-items: center;
      font-size: 15px;
      font-weight: 500;
      padding-left: 10px;
      position: relative;
      white-space: nowrap;
      height: 45px;
      cursor: pointer;

      .icon-holder {
        color: $sidebar-color;
        border-radius: 4px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        left: 0;
        margin-right: 10px;
        position: relative;
        text-align: center;
        width: 30px;
      }

      &:hover,
      &:focus {
        background-color: $sidebar-hover-bg;
        color: $sidebar-hover-color;
        text-decoration: none;
        .icon-holder {
          color: $sidebar-hover-color;
        }
      }
      &.active {
        background-color: $sidebar-active-bg;
        color: $sidebar-active-color;
        .icon-holder {
          color: $sidebar-active-color;
        }
      }
    }
  }

  > app-sidebar-item {
    &:nth-child(1) {
      > li {
        margin-top: 30px;
      }
    }
    > li.sidebar-item {
      > ul.dropdown-menu {
        > app-sidebar-item {
          > li.sidebar-item {
            > a.sidebar-link {
              padding-left: 25px;
            }
            > ul.dropdown-menu {
              > app-sidebar-item {
                > li.sidebar-item {
                  > a.sidebar-link {
                    padding-left: 40px;
                  }
                  > ul.dropdown-menu {
                    > app-sidebar-item {
                      > li.sidebar-item {
                        > a.sidebar-link {
                          padding-left: 55px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      > a.sidebar-link {
        > a.active {
          border-left: 3px solid $sidebar-active-color;
        }
        > .icon-holder {
          border-radius: 6px;
          font-size: 17px;
          margin-right: 15px;
          width: 35px;
        }
      }

      &.open {
        > a.sidebar-link {
          border-left: 3px solid $sidebar-active-color;
        }
      }
    }
  }
}

// ---------------------------------------------------------
// @Sidebar Collapsed
// ---------------------------------------------------------

.is-collapsed {
  .sidebar {
    width: $collapsed-size;

    .sidebar-inner {
      .sidebar-logo {
        border-bottom: 1px solid transparent;
        padding: 0;
        a {
          .logo {
            width: $collapsed-size;
          }
          .logo-text {
            display: none;
          }
        }
      }

      .sidebar-menu {
        > app-sidebar-item {
          > li.sidebar-item {
            > a.sidebar-link {
              justify-content: center;
              padding-right: 10px;
              .icon-holder {
                margin-right: 0px;
              }
              .title,
              .arrow {
                display: none;
              }
            }
            &.open {
              > ul.dropdown-menu {
                display: none;
              }
            }
          }
        }
      }
    }

    &:hover {
      width: $offscreen-size;
      .sidebar-inner {
        .sidebar-logo {
          border-bottom: 1px solid $border-color;
          padding: 0 20px;
          a {
            .logo {
              width: $sidebar-logo-width;
            }
            .logo-text {
              display: inline-block;
            }
          }
        }

        .sidebar-menu {
          > app-sidebar-item {
            > li.sidebar-item {
              > a {
                justify-content: start;
                padding-right: 0px;
                .icon-holder {
                  margin-right: 15px;
                }
                .title,
                .arrow {
                  display: block;
                }
              }
              &.open {
                > ul.dropdown-menu {
                  display: block;
                }
              }
            }
          }
        }
      }
    }

    @include to($breakpoint-md) {
      left: -$offscreen-size;
    }
  }
}
