<div class="tabs">
  <ul class="tabs-inner" #tabsInner>
    <li class="tab-item active">
      <button>
        <span>营销活动维护</span>
        <span class="remove" aria-hidden="true">&times;</span>
      </button>
    </li>
    <li class="tab-item">
      <button>
        <span>售后单维护</span>
        <span class="remove" aria-hidden="true">&times;</span>
      </button>
    </li>
    <li class="tab-item">
      <button>
        <span>安装供维护</span>
        <span class="remove" aria-hidden="true">&times;</span>
      </button>
    </li>
    <li class="tab-item">
      <button>
        <span>签单员维护</span>
        <span class="remove" aria-hidden="true">&times;</span>
      </button>
    </li>
  </ul>
</div>
