<li class="sidebar-item" [ngClass]="dropdownClass | async">
  <a class="sidebar-link" [ngClass]="subarLinkClass | async" (click)="handleMenuClick()">
    <span class="icon-holder">
      <i [ngClass]="menu.icon"></i>
    </span>
    <span class="title">{{menu.name}}</span>
    <span *ngIf="hasSubmenus | async" class="arrow">
      <i class="ti-angle-right"></i>
    </span>
  </a>
  <ul *ngIf="hasSubmenus | async" class="dropdown-menu">
    <ng-container *ngFor="let subMenu of menu.subMenus">
      <app-sidebar-item [menu]="subMenu"></app-sidebar-item>
    </ng-container>
  </ul>
</li>
