<app-main>
  <div>
    <button type="button" class="btn btn-primary" (click)="loading()">Loading</button>
    <button type="button" class="btn btn-secondary" (click)="handleToast()">Toast Default</button>
    <button type="button" class="btn btn-success" (click)="handleToastSuccess()">Toast Success</button>
    <button type="button" class="btn btn-danger" (click)="handleToastDanger()">Toast Danger</button>
    <button type="button" class="btn btn-warning" (click)="handleToastWarning()">Toast Warning</button>
    <button type="button" class="btn btn-info" (click)="handleToastInfo()">Toast Info</button>
  </div>
</app-main>
