<!-- #Left Sidebar ==================== -->
<div class="sidebar">
  <div class="sidebar-inner">
    <!-- ### $Sidebar Header ### -->
    <div class="sidebar-logo">
      <div class="peers ai-c fxw-nw">
        <div class="peer peer-greed">
          <a class="sidebar-link td-n" href="index.html">
            <div class="peers ai-c fxw-nw">
              <div class="peer">
                <div class="logo">
                  <img src="assets/static/images/logo.png" alt="">
                </div>
              </div>
              <div class="peer peer-greed">
                <h5 class="lh-1 mB-0 logo-text">Adminator</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="peer">
          <div class="mobile-toggle sidebar-toggle">
            <a href="" class="td-n">
              <i class="ti-arrow-circle-left"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- ### $Sidebar Menu ### -->
    <ul class="sidebar-menu">
      <li class="nav-item dropdown">
        <a class="sidebar-link" href="ui.html">
          <span class="icon-holder">
            <i class="ti-palette"></i>
          </span>
          <span class="title">UI Elements</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="sidebar-link" href="javascript:void(0);">
          <span class="icon-holder">
            <i class="ti-layout-list-thumb"></i>
          </span>
          <span class="title">Tables</span>
          <span class="arrow">
            <i class="ti-angle-right"></i>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li class="nav-item">
            <a class="sidebar-link" href="basic-table.html">Basic Table</a>
          </li>
          <li class="nav-item">
            <a class="sidebar-link" href="datatable.html">Data Table</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="sidebar-link" href="javascript:void(0);">
          <span class="icon-holder">
            <i class="ti-map"></i>
          </span>
          <span class="title">Maps</span>
          <span class="arrow">
            <i class="ti-angle-right"></i>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li class="nav-item">
            <a class="sidebar-link" href="google-maps.html">Google Map</a>
          </li>
          <li class="nav-item">
            <a class="sidebar-link" href="vector-maps.html">Vector Map</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="sidebar-link" href="javascript:void(0);">
          <span class="icon-holder">
            <i class="ti-files"></i>
          </span>
          <span class="title">Pages</span>
          <span class="arrow">
            <i class="ti-angle-right"></i>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li class="nav-item">
            <a class="sidebar-link" href="blank.html">Blank</a>
          </li>
          <li class="nav-item">
            <a class="sidebar-link" href="404.html">404</a>
          </li>
          <li class="nav-item">
            <a class="sidebar-link" href="500.html">500</a>
          </li>
          <li class="nav-item">
            <a class="sidebar-link" href="signin.html">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="sidebar-link" href="signup.html">Sign Up</a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown open">
        <a class="sidebar-link" href="javascript:void(0);">
          <span class="icon-holder">
            <i class="ti-view-list-alt"></i>
          </span>
          <span class="title">Multiple Levels</span>
          <span class="arrow">
            <i class="ti-angle-right"></i>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li class="nav-item dropdown">
            <a class="sidebar-link" href="javascript:void(0);">
              <span class="icon-holder">
              </span>
              <span>Menu Item-1</span>
            </a>
          </li>
          <li class="nav-item dropdown open">
            <a class="sidebar-link" href="javascript:void(0);">
              <span class="icon-holder">
                <i class="ti-view-list-alt"></i>
              </span>
              <span>Menu Item-2</span>
              <span class="arrow">
                <i class="ti-angle-right"></i>
              </span>
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item">
                <a class="sidebar-link" href="javascript:void(0);">
                  <span class="icon-holder">
                  </span>
                  <span>
                    Menu Item-2-1
                  </span>
                </a>
              </li>
              <li class="nav-item dropdown open">
                <a class="sidebar-link" href="javascript:void(0);">
                  <span class="icon-holder">
                    <i class="ti-view-list-alt"></i>
                  </span>
                  <span>Menu Item-2-2</span>
                  <span class="arrow">
                    <i class="ti-angle-right"></i>
                  </span>
                </a>
                <ul class="dropdown-menu">
                  <li class="nav-item">
                    <a class="sidebar-link active" href="javascript:void(0);">
                      <span class="icon-holder">
                        <i class="ti-view-list-alt"></i>
                      </span>
                      Menu Item-2-2-1
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="sidebar-link" href="javascript:void(0);">
                      <span class="icon-holder">
                      </span>
                      Menu Item-2-2-2
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
